body {
  background-color: #ddd;
  font-family: Arial, Helvetica, sans-serif;
}

.navbar {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

.navbar div {
  float: left;
}

.navbar div {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.navbar div:hover:not(.active) {
  background-color: #111;
}

.navbar div.active {
  background-color: #4CAF50;
}

.header {
  background-color: #1E7922;
  color: white;
  padding: 1px;
  text-align: center;
  margin-bottom: 20px;
  border-bottom-right-radius: 6px;
  border-bottom-left-radius: 6px;
}

.colorPicker {
  border: thin solid black;
  padding: 10px;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  text-align: center;
}

.colorPicker .colorItem {
  font-size: larger;
  border: solid thin black;
  padding: 5px;
  border-radius: 4px;
}

.colorPicker .colorItem:hover {
  background-color: lightgrey;
  cursor: pointer;
}

.banCategory {
  width: 75%;
  border: thin black solid;
  margin: 20px auto 0px auto;
  border-radius: 6px;
}

.bannedItems {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    padding: 10px;
    background-color: #b8dbc2;
    border-radius: 6px;
}

.categoryHeader {
  font-size: 22px;
  padding: 3px;
  font-weight: bold;
  border-bottom: black solid thin;
  text-align: center;
  background-color: darkgreen;
  color: white;
}

.textItem {
  background-color: #b2c4b7;
  margin: 2px;
  padding: 2px;
  text-align: left;
  border-radius: 6px;
}

.textItem.G {
  background-image: linear-gradient(to right, green , #b2c4b7);
}

.textItem.B {
  background-image: linear-gradient(to right, black , #b2c4b7);
  color: lightgrey;
}

.textItem.U {
  background-image: linear-gradient(to right, blue , #b2c4b7);
  color: lightgrey;
}

.textItem.W {
  background-image: linear-gradient(to right, #ffffe1 , #b2c4b7);
}

.textItem.R {
  background-image: linear-gradient(to right, red, #b2c4b7);
}

.textItem.gold {
  background-image: linear-gradient(to right, gold, #b2c4b7);
}

.textItem:hover {
  background-color: #d3e6d8;
  background-image: none;
  color: black;
}

.itemDetails {
  display: none;
  border-collapse: collapse;
  border: thin solid black;
  background-color: #b2c4b7;
/*   width: 300px; */
}

.textItem:hover .itemDetails {
  display: grid;
  position: absolute;
  border: thin solid black;
  background-color: #b2c4b7;
  grid-template-areas:
    'pic type'
    'pic desc';
  grid-template-columns: 145px 220px;
}

.itemDetails * {
  text-align: center;
  vertical-align: top;
  background-color: #e4ece6;
}

.itemDetails .pic {
  grid-area: pic;
}

.itemDetails .type {
  grid-area: type;
  text-decoration: underline;
}

.itemDetails .desc {
  grid-area: desc;
}

.loader {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-bottom: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 80px;
  height: 80px;
  animation: spin 2s linear infinite;
  -webkit-animation: spin 2s linear infinite; /* Safari */
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
